# API Configuration
API_URL=https://api.hirabook.icu/api/v1

# OneSignal Configuration
ONESIGNAL_APP_ID=your-onesignal-app-id

# Google Auth Configuration
GOOGLE_WEB_CLIENT_ID=your-google-web-client-id
GOOGLE_IOS_CLIENT_ID=your-google-ios-client-id
GOOGLE_ANDROID_CLIENT_ID=your-google-android-client-id

# App Store Configuration
APP_STORE_ID=your-app-store-id
PLAY_STORE_ID=com.jaydeepdhrangiya.checkhira

# Support Information
SUPPORT_EMAIL=support@checkhira.com
PRIVACY_POLICY_URL=https://checkhira.com/privacy
TERMS_URL=https://checkhira.com/terms
