modules = ["nodejs-20", "web"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 8081
externalPort = 80

[workflows]
runButton = "Optimized Run"

[[workflows.workflow]]
name = "Optimized Run"
author = 41367667
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_ENV=production expo start --dev-client"
